extends layout
include mixins
block content
  .container
    .alert.alert-info
      strong Percentage Median BMI calculator:&nbsp;
      |  This calculator uses UK-WHO growth data. It will calculate standard deviation scores (SDS) and centiles for height, weight and body mass index (BMI). It will also calculate the 'percentage median BMI (%mBMI)' - sometimes described as 'weight for height' - by expressing the young person's BMI as percentage of the median BMI for age and sex.
      |  It is to guide the assessment of children and young people up to 18 years of age. Blood pressure centiles and standard deviation scores are calculated using the Fourth data unless height is not provided, when Jackson data instead are used.
  div.container
    .col-md-4.col-sm-4.col-xs-12
      +panel("Patient Data","primary")
        form.form-horizontal(action ="calculator", method="POST", id="calculator", role="form")
          input(type='hidden', name='_csrf', value=_csrf)
          .form-group
              .div(class="col-sm-4 col-md-4")
               label(for='date_of_birth') Date of Birth:
              .div(class="col-sm-8 col-md-8")
               input(id="date_of_birth", class="form-control", type="date", name="date_of_birth", placeholder="Enter Date of Birth", value="#{date_of_birth}", required)
               .br
          .form-group
              .div(class="col-sm-4 col-md-4")
               label(for='date_of_clinic') Clinic Date:
              .div(class="col-sm-8 col-md-8")
               input(id="date_of_clinic", class="form-control", name="date_of_clinic", type="date", placeholder="Enter date of clinic visit", value="#{date_of_clinic}", required).input-group
               .br
          .form-group
              .div(class="col-sm-4 col-md-4")
               label(for='height') Height:
              .div(class="col-sm-8 col-md-8")
                .input-group
                  input(id="height", class="form-control", name="height", placeholder="cm", value="#{height}", required)
                  span.input-group-addon cm
                  .br
          .form-group
              .div(class="col-sm-4 col-md-4")
               label(for='weight') Weight:
              .div(class="col-sm-8 col-md-8")
                .input-group
                  input(id="weight", class="form-control", name="weight", placeholder="kg", value="#{weight}", required)
                  span.input-group-addon kg
                  .br
          .form-group
               .div(class="col-sm-4 col-md-4")
                label(for="bp") Blood Pressure:
               .div(class="col-sm-4 col-md-4")
                  input(id="systolic", class = "form-control", name = "systolic", placeholder = "systolic", value="#{systolic}")
               .div(class="col-sm-4 col-md-4")
                  input(id="diastolic", class = "form-control", name = "diastolic", placeholder = "diastolic", value="#{diastolic}")
          .form-group
                .div(class="col-sm-12 col-md-12")
                  .div(class="col-sm-6 col-md-6")
                      input#option1(type = 'radio' name='gender', value='female', checked = ("#{gender}"=='female' || "#{gender}"=='undefined') ? true : false)
                      |  Female
                  .div(class="col-sm-6 col-md-6")
                      input#option1(type = 'radio' name='gender', value='male', checked = ("#{gender}"=='male') ? true : false)
                      |  Male
          .form-group
              .div(class="col-sm-12 col-md-12")
                .pull-right
                  button.btn.btn-primary(name="calculatebutton", type='submit') Calculate


    .col-md-4.col-sm-4.col-xs-12
      +panel("Results", "success")
       .row
        .div(class="col-sm-12 col-md-12")
         .h4
          label Ages
       .well
         .row
          .div(class="col-sm-6 col-md-6")
           label Decimal age:
          .div(class="col-sm-6 col-md-6")
           label #{locals.decimal_age + " yrs"}
         .row
          .div(class="col-sm-6 col-md-6")
           label Calendar Age:
          .div(class="col-sm-6 col-md-6")
           label #{calendar_age}
       .row
        .div(class="col-sm-12 col-md-12")
         .h4
          label Height
       .well
         .row
          .div(class="col-sm-6 col-md-6")
           label Centile:
          .div(class="col-sm-6 col-md-6")
           label #{height_centile + " %"}
         .row
          .div(class="col-sm-6 col-md-6")
           label SDS:
          .div(class="col-sm-6 col-md-6")
           label #{height_sds}
       .row
        .div(class="col-sm-12 col-md-12")
         .h4
          label Weight
       .well
         .row
          .div(class="col-sm-6 col-md-6")
           label Centile:
          .div(class="col-sm-6 col-md-6")
           label #{weight_centile + " %"}
         .row
          .div(class="col-sm-6 col-md-6")
           label SDS:
          .div(class="col-sm-6 col-md-6")
           label #{weight_sds}
       .row
        .div(class="col-sm-12 col-md-12")
         .h4
          label BMI
       .well
         .row
          .div(class="col-sm-6 col-md-6")
           label BMI:
          .div(class="col-sm-6 col-md-6")
           label #{bMI + " kg/m2"}
         .row
          .div(class="col-sm-6 col-md-6")
           label Centile:
          .div(class="col-sm-6 col-md-6")
           label #{bmi_centile + " %"}
         .row
          .div(class="col-sm-6 col-md-6")
           label SDS:
          .div(class="col-sm-6 col-md-6")
           label #{bmi_sds}
         .row
          .div(class="col-sm-6 col-md-6")
           label %mBMI:
          .div(class="col-sm-6 col-md-6")
           label #{pctmBMI + " %"}
       .row
        .div(class="col-sm-12 col-md-12")
         .h4
          label Blood Pressure
       .well
         .row
          .div(class="col-sm-6 col-md-6")
           label Systolic SDS:
          .div(class="col-sm-6 col-md-6")
           label #{systolic_sds}
         .row
          .div(class="col-sm-6 col-md-6")
           label Systolic Centile:
          .div(class="col-sm-6 col-md-6")
           label #{systolic_centile + " %"}
         .row
          .div(class="col-sm-6 col-md-6")
           label Diastolic SDS:
          .div(class="col-sm-6 col-md-6")
           label #{diastolic_sds}
         .row
          .div(class="col-sm-6 col-md-6")
           label Diastolic Centile:
          .div(class="col-sm-6 col-md-6")
           label #{diastolic_centile + " %"}
    .col-md-4.col-sm-4.col-xs-12
      +panel("Targets", "success")
       .row
        .div(class="col-sm-12 col-md-12")
         .h4
          label Weights for BMI Centile
       .well
         .row
          .div(class="col-sm-8 col-md-8")
           label 50th Centile ('100%'):
          .div(class="col-sm-4 col-md-4")
           label #{ideal_weight +" kg"}
         .row
          .div(class="col-sm-8 col-md-8")
           label 9th Centile BMI:
          .div(class="col-sm-4 col-md-4")
           label #{ninth_centile + " kg"}
         .row
          .div(class="col-sm-8 col-md-8")
           label 91st Centile BMI:
          .div(class="col-sm-4 col-md-4")
           label #{ninetyfirst_centile + " kg"}
       .row
        .div(class="col-sm-12 col-md-12")
         .h4
          label Weights for mBMI Percentages
       .well
         .row
          .div(class="col-sm-8 col-md-8")
           label 95%:
          .div(class="col-sm-4 col-md-4")
           label #{ninety_five_percent + " kg"}
         .row
          .div(class="col-sm-8 col-md-8")
           label 90%:
          .div(class="col-sm-4 col-md-4")
           label #{ninety_percent + " kg"}
         .row
          .div(class="col-sm-8 col-md-8")
           label 85%:
          .div(class="col-sm-4 col-md-4")
           label #{eighty_five_percent + " kg"}
        .row
        .div(class="col-sm-12 col-md-12")
         .h4
          label Weights for BMI SDS
       .well
         .row
          .div(class="col-sm-8 col-md-8")
           label +1 SD:
          .div(class="col-sm-4 col-md-4")
           label #{one_sd + " kg"}
         .row
          .div(class="col-sm-8 col-md-8")
           label +2 SD:
          .div(class="col-sm-4 col-md-4")
           label #{two_sd + " kg"}
  .row
   .container
    .alert.alert-info
     strong References
     small
      p Cole TJ, Green PJ (1992). Smoothing reference centile curves: the LMS method and penalized likelihood. Statistics in Medicine, 11:1305–1319.
      p The Fourth Report on the Diagnosis, Evaluation, and Treatment of High Blood Pressure in Children and Adolescents, PEDIATRICS Vol. 114 No. Supplement 2 August 1, 2004 pp. 555-576
      p Jackson L V, Thalange N K S, Cole T J. Blood pressure centiles for Great Britain. Arch Dis Child 200792298–303.303
      p British 1990 reference data, reanalysed 2009
      p WHO Multicentre Growth Reference Study Group. WHO Child Growth Standards:Length/Height-for-age, Weight-for-age, Weight-for-length, Weight-for-height and Body Mass Index-for age. Methods and Development. 2006. ISBN    92 4 154693 X.
      p Cole TJ, Freeman JV, Preece MA. British 1990 growth reference centiles for weight, height, body mass index and head circumference fitted by maximum penalized likelihood. Stat Med 1998;17:407-29.
      p Cole TJ, Freeman JV, Preece MA. 1998. British 1990 growth reference centiles for weight, height, body mass index and head circumference fitted by maximum penalized likelihood. Stat Med 17(4):407-29
